force-app/main/default/flows/After_Insert_Account_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>After-Insert Account Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>After-Insert Account Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Related_Opp_Names</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Post_to_chatter_when_fax_changes</name>
        <label>Post to chatter when fax changes</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <flowName>Subflow_Post_to_chatter_when_fax_changes</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Related_Contact_Phone</name>
        <label>Update Related Contact Phone</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Post_to_chatter_when_fax_changes</targetReference>
        </connector>
        <flowName>Subflow_Update_Related_Contact_Phone</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Update_Related_Opp_Names</name>
        <label>Update Related Opp Names</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Related_Contact_Phone</targetReference>
        </connector>
        <flowName>Subflow_Update_Related_Opp_Names</flowName>
        <inputAssignments>
            <name>AccountRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
